 .superior{
     background: green;
     min-height: 25%;
 }

 .text{
    
     padding-top: 15%;
     color: honeydew;
 }
 .button{
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
     margin-top: 10%;
     height: 10%;
     border-radius: 10px;
     background-color: green;
     color: honeydew;
 }
 #btn-sair{
     max-width: 30%;
     height: 5%;
     margin-bottom: 3%;
     margin-left: 65%;
     background-color: rgb(240, 58, 58);
     border-radius: 10px;
 }