input[type='text']{
    width: 100%;
    border-radius: 5px;
    border:1px solid rgba(141, 141, 141, 0.575);
    margin-top: 2%;
    padding-left:5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
input[type='date']{
    width: 100%;
    border-radius: 5px;
    border:1px solid rgba(141, 141, 141, 0.575);
    margin-top: 2%;
    padding-left:5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
input[type='radio']{
    margin-right: 1.5% ;
    margin-left: 1.5% ;
}
select{

    margin-top: 3%;
    min-width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 100%;
}
.tela1{
    margin-left: 5%;
    padding-left: 5%;
    padding-top: 5%;
    margin-right: 5%;
    padding-right: 10%;
    border-radius: 10px;
    padding-bottom: 10%;
    background-color: rgba(173, 173, 173, 0.178) ;
}
.tela2{
    margin-left: 5%;
    padding-left: 5%;
    padding-top: 5%;
    margin-right: 5%;
    padding-right: 10%;
    border-radius: 10px;
    padding-bottom: 10%;
    background-color: rgba(173, 173, 173, 0.178) ;
}
.btn{
    background-color: green;
    padding: 3% 10% 3% 10%;
    border-radius: 10px;
    color: azure;
    
}
.oculto{
    display: none;
}
#sim:checked{
    background-color:greenyellow ;
}

.alert-ios .alert-radio-label{
    white-space: pre-line;
    }
    
    .alert-md .alert-radio-label{
    white-space: pre-line;
    }
    
    .alert-wp .alert-radio-label{
    white-space: pre-line;
    }