 .identificacao{
    background-color: rgba(173, 173, 173, 0.178) ;
    margin-left: 5%;
    margin-right: 5%;
    padding-top:3% ;
    border-radius: 10px;
 }
 .card_visitas{
    list-style-type: none;
    color: black;
 }
 .btn{
    background-color: green;
    padding: 2% 7% 2% 7%;
    border-radius: 10px;
    color: azure;
    
}
.membros{
   overflow: auto;
   max-height: 30%;
   background-color: rgba(173, 173, 173, 0.178) ;
   margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.item{
   padding-bottom: 2%;
}
.botao{
   background-color: green;
   display: flex; justify-content: center; 
   
}