<ion-header>
  <navapp></navapp>
</ion-header>

<ion-content>
  <h2 align="center">Identificação da família </h2>
  <div class="identificacao" *ngIf="familia_membros!=null; else teste">
      <ul class="card_visitas">
          <li>Responsável: {{ familia_membros.responsavel_familiar}} </li><br>
          <li>Endereco: {{familia_membros.rua}} 
              <br /> 
              Bairro: {{ familia_membros.bairro}} 
              <br>
              Casa: {{familia_membros.numero_casa}} </li><br>
          <li>Renda: {{ renda}} </li><br>
          <li>NIS: {{ familia_membros.nis}} </li><br>
      </ul>
      
  </div>
  <h3 align="center">Membros</h3>
  <div *ngIf="familia_membros" class="membros"  >
    
    <div *ngFor="let item of familia_membros.membros" ><p class="item" align="center">{{item.nome}}</p></div>
    
  </div>
  <ng-template #teste>
    <p>Carregando...</p>

  </ng-template>
  <a routerLink="/familia/form-membro/{{id_familia}}"><button class="btn" style="
    margin-left: 33%;
    margin-right: 30%;
    margin-top: 3%;
  ">Novo Membro</button></a><br><br>
</ion-content>
