<ion-header>
  <navapp></navapp>
</ion-header>

<ion-content>

    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
          <ion-icon name="arrow-round-up"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button  (click)="redirecionar()"><ion-icon name="add"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="pesquisar()"><ion-icon name="sync"></ion-icon></ion-fab-button>
      </ion-fab-list>
    
    </ion-fab> -->

    <ion-button (click)="redirecionar()" expand="block" style="margin-left: 4%;margin-right: 4%;">Cadastrar nova visita</ion-button>

    <p align="center" style="font-size: 150%;"><b>Lista de visitas</b></p>
      <div class="visita" *ngFor="let visit of visits">
        <ion-grid>
          <ion-row>
            <ion-col>
              <label><b>Responsável familiar:</b> {{ family.family_responsible }}</label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label><b>NIS:</b> {{family.nis}}</label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label><b>Endereço:</b> Rua: {{family.address.logradouro}}<br>
                     <b>Nº:</b> {{family.address.number}}<br>
                     <b>complemento:</b> {{family.address.complement}}<br>
                     <b>Bairro:</b> {{family.address.neighborhood.name}}<br>
                     <b>CEP:</b> {{family.address.cep}}<br>
                     <b>Cidade:</b> {{family.address.city.name}}<br>
                     <!-- <b>Município:</b> {{family.address.logradouro}}<br>
                     <b>Distrito:</b> {{family.address.logradouro}} -->
              </label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label><b>Data:</b> {{ visit.date | date: 'dd/MM/yyyy' }}</label>
            </ion-col>
            <ion-col>
              <label><b>Horario:</b> {{visit.hour}}</label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label><b>Agente:</b> {{ visit.agent.name }}</label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <!-- <label><a href="{{visit.image_link}}"><b>Link das imagens</b></a></label> -->
              <ion-button color="dark" (click)="openImageLink(visit.image_link)"> Link das imagens </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <!-- <label><a href="{{visit.image_link}}"><b>Link das imagens</b></a></label> -->
              <ion-button color="danger" (click)="presentActionSheetDeleteVisit(visit.id)"> Deletar visita </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </div>
      <h1 align="center" *ngIf="vazio==true" class="visita" style="border-radius:5px;padding:5px">Sem visitas cadastradas</h1>
</ion-content>